.friend-list {
    display: flex;
    padding: 0;
    list-style: none;
    background-color: white;
    border: none;
  
 
}

.friend-list-item {
    margin: 5px;
    border: none;
}

.friend-list-item:not(:last-child) {
    border-right: none;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 375px;

}
