.friend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #f4f4f4;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.friend-avatar {
    border-radius: 50%;
  
}

.friend-name {
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

.friend-status {
    font-size: 14px;
    font-weight: bold;
}

.friend-status.online {
    color: green;
}

.friend-status.offline {
    color: red;
}

.friend-name, .friend-status {
    background-color: white;
}